.footer-form {
  margin-left: 93px;
}
.sub-svg {
  background-color: var(--accent-color);
  background-size: contain;
  margin-left: 5px;
  vertical-align: middle;
}
.footer-sub {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 20px;
}
.sub-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}
.sub-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
