.sn-wrapper {
  display: flex;
  justify-content: center;
}
.sn-item {
  margin-right: 10px;
}
.sn-item:last-child {
  margin-right: 0;
}
.sn-list {
  display: flex;
}
.sn-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}
.social-network {
  fill: currentColor;
}
.sn-main {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-color);
    background-color: var(--accent-color);
  }
}

.social-network {
  width: 20px;
  height: 20px;
  text-align: center;
}
.svg-icon {
  width: 65.32px;
  height: 70px;
}
