body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--text-color);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.logo--dark {
  color: var(--main-text-color);
}
.logo--light {
  color: var(--text-color);
}
.centered {
  text-align: center;
}
