:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --text-color: #ffffff;
  --portfolio-button: #f5f4fa;
  --bgc-color: #2f303a;
  --bgc-section: #f5f4fa;
  --footer-contact: rgba(255, 255, 255, 0.6);
}
